#heading {
  border-radius: 1rem;
  background-color: yellow;
  color: red;
}

.heading {
  font-style: italic;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 30rem;
} */

.header {
  display: flex;
  background-color: antiquewhite;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}

.NavItems > ul {
  display: flex;
}
.NavItems > ul > li {
  padding: 0rem 2rem;
  list-style-type: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.NavItems > ul > li:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.icon {
 width: 3rem; 
}
.searchBar {
  font-size: 1.5rem;
}
.body {
  margin: 0.5rem;
  padding: 0.5rem;
}
.searchItem {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
}
.cardInfo {
  margin: 1rem;
  padding: 0.5rem;
  width: 15rem;
}
.cardInfo:hover {
  cursor: pointer;
  border-radius: 1rem;
  border: 0.1rem solid rgb(232, 232, 232);
  -webkit-tap-highlight-color: transparent;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.foodImage {
  width: 100%;
  height: 10rem;
  border-radius: 1rem;
}
.tRated-btn {
  cursor: pointer;
  font-size: 1.5rem;
  background-color:burlywood;
  border-radius: 1.5rem;
}
.search-btn {
  cursor: pointer;
  font-size: 1.5rem
}
.shimmerContainer {
  display: flex;
  flex-wrap: wrap;
}
.shimmerCard {
  margin: 1rem;
  padding: 0.5rem;
  width: 15rem;
  height: 20rem;
  background-color: #f0f0f0;
}
.sign-btn {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background-color:rgb(69, 212, 69);
  border-radius: 0.5rem;
  border: none;
  margin: 0rem 2rem;
  padding: 0.5rem;
}

.menuContainer {
  margin: 2rem 16rem;
}
.user {
  border: 0.2rem solid black;
border-radius: 1rem;
padding: 1rem;
}